body {
  font-family: "Josefin Sans", sans-serif;
  background-color: hsl(235, 21%, 11%);
  height: 100%;
  overflow-x: hidden;
  
}

.light{
    --top-img: url(./images/bg-desktop-light.jpg)
}

img {
  width: 100%;
  background-repeat: no-repeat;
}

.top-img {
  background-image: url(./images/bg-desktop-dark.jpg);
  background-image: var(--top-img);
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
}

.heading {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -86%);
}

.header {
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  padding-top: 150px;
  padding-left: 30em;
  padding-right: 42em;
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 5px;
}

.header img {
  width: 25px;
}

input:focus {
  border: none;
}

.heading {
  position: relative;
}

.todo{
    display: flex;
}


.todo-input {
  background: hsl(235, 24%, 19%);
  width: 35%;
  height: 70px;
  border: none;
  margin-left: 490px;
  margin-right: 200px;
  margin-top: 35px;
  display: grid;
  grid-template-columns: 10% auto;
  align-items: center;
  border-radius: 5px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  padding-left: 70px;
}

.circle{
    margin-top: 3%;
    margin-left: 27%;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 1px solid white;
    position: absolute;
    cursor: pointer;
}


.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
