body {
  background-color: hsl(235, 21%, 11%);
  overflow-x: hidden;
  --bg: hsl(235, 21%, 11%);
  --fg: hsl(234, 39%, 85%);
  --background: url(./images/bg-desktop-dark.jpg);
  --tgl-btn: url(./images/icon-sun.svg);
  
  background: var(--bg);
  color: var(--fg);
  font-family: "Josefin Sans", sans-serif;
  
}

.light{
  --background: url(./images/bg-desktop-light.jpg);
  --tgl-btn: url(./images/icon-moon.svg);
  --bg: hsl(236, 33%, 92%);
  --fg: hsl(237, 14%, 26%);
}

main {
  font-family: "Josefin Sans", sans-serif;
}

.background{
  background-image: var(--background);
  width: 100%;
  height: 300px;

}



img {
  width: 100%;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: -10%;
  padding-bottom: 5%;
}

h1 {
    
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    margin-bottom: -10px;
  }

.toggle{
  background-image: var(--tgl-btn);
  background-size: cover;
  width: 25px;
  height: 25px;
  cursor: pointer;
}


.type-todo{
    display: flex;
    margin-left: 32%;
    width: 25;
    height: 25px;
    align-items: center;
    
}


.todo-input{
    background-color: var(--bg);
    margin-left: 1%;
    width: 51%;
    height: 50px;
    display: flex;
    grid-template-columns: 10% auto;
    align-items: center;
    border: none;
    border-radius: 5px;
    text-align: center;
    caret-color: hsl(220, 98%, 61%);
    text-transform: var(--bg);
}



.circle{
    height: 24px;
    width: 24px;
    margin-left: 2%;
    border-radius: 50%;
    border: 1px solid var(--fg);
    position: absolute;
    cursor: pointer;
}
